Repository pulgueta/transactions: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm run format

chore: add commitlint configuration file
  commitlint.config.ts
Due: pnpm run lint, pnpm run format

chore: use biome instead of prettier, eslint and oxlint. Move to nestjs
  .github/workflows/format.yaml
  .husky/pre-commit
  .lintstagedrc.json
  .oxlintrc.json
  .vscode/settings.json
  apps/backend/.eslintrc.js
  apps/backend/.gitignore
  apps/backend/.prettierrc
  apps/backend/README.md
  apps/backend/nest-cli.json
  apps/backend/package.json
  apps/backend/src/app.controller.spec.ts
  apps/backend/src/app.controller.ts
  apps/backend/src/app.module.ts
  apps/backend/src/app.service.ts
  apps/backend/src/index.ts
  apps/backend/src/main.ts
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/jest-e2e.json
  apps/backend/tsconfig.build.json
  apps/backend/tsconfig.json
  apps/frontend/biome.json
  apps/frontend/eslint.config.js
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/main.tsx
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.node.json
  apps/frontend/vite.config.ts
  commitlint.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint, pnpm run format

fix(ci): --no-frozen-lockfile
  .github/workflows/commits.yaml
  .github/workflows/format.yaml
Due: pnpm run format

ci: remove --no-frozen-lockfile
  .github/workflows/commits.yaml
  .github/workflows/format.yaml
Due: pnpm run format

ci: re assign --no-frozen-lockfile
  .github/workflows/commits.yaml
  .github/workflows/format.yaml
Due: pnpm run format

chore: script names
  apps/backend/package.json
  apps/backend/tsconfig.json
  pnpm-lock.yaml
Due: pnpm run format

fix(ci): concurrency issue
  .github/workflows/commits.yaml
Due: pnpm run format

chore: serve static files from backend
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/main.ts
  apps/backend/tsconfig.json
  apps/frontend/src/App.tsx
  apps/frontend/tsconfig.app.tsbuildinfo
  apps/frontend/tsconfig.node.tsbuildinfo
  apps/frontend/vite.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint, pnpm run format

feat: add tables and shared package
  apps/backend/.eslintrc.js
  apps/backend/.prettierrc
  apps/backend/package.json
  apps/backend/src/infra/database/drizzle/index.ts
  apps/backend/src/infra/database/schemas/delivery.ts
  apps/backend/src/infra/database/schemas/order.ts
  apps/backend/src/infra/database/schemas/product.ts
  apps/backend/src/infra/database/schemas/user.ts
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/schemas/delivery.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/order.ts
  packages/shared/src/schemas/product.ts
  packages/shared/src/schemas/user.ts
  packages/shared/src/types/index.ts
  packages/shared/tsconfig.json
  packages/shared/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm run format

chore: edit tables location, add start script
  apps/backend/package.json
  apps/backend/src/infra/database/drizzle/index.ts
  apps/backend/src/infra/database/drizzle/tables.ts
  apps/backend/src/infra/database/schemas/delivery.ts
  apps/backend/src/infra/database/schemas/order.ts
  apps/backend/src/infra/database/schemas/product.ts
  apps/backend/src/infra/database/schemas/user.ts
  package.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/types/index.ts
  packages/shared/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint, pnpm run format

feat: add user and order services
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/application/services/orders.service.ts
  apps/backend/src/application/services/user.service.ts
  apps/backend/src/domain/repositories/user.repository.ts
  apps/backend/src/infra/api/orders/orders.controller.ts
  apps/backend/src/infra/api/orders/orders.module.ts
  apps/backend/src/infra/api/users/user.controller.ts
  apps/backend/src/infra/api/users/user.module.ts
  apps/backend/src/infra/database/database.d.ts
  apps/backend/src/infra/database/database.module.ts
  apps/backend/src/infra/database/drizzle/index.ts
  apps/backend/src/infra/database/drizzle/tables.ts
  apps/backend/src/infra/database/schemas/delivery.ts
  apps/backend/src/infra/database/schemas/index.ts
  apps/backend/src/infra/database/schemas/order.ts
  apps/backend/src/infra/database/schemas/product.ts
  apps/backend/src/infra/database/schemas/user.ts
  apps/backend/src/infra/database/user.repository.ts
  package.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/schemas/user.ts
  packages/shared/src/types/index.ts
  packages/shared/src/zod/index.ts
  packages/shared/tsconfig.json
  packages/shared/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint, pnpm run format

feat: init frontend application with shadcn
  apps/frontend/components.json
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/src/App.tsx
  apps/frontend/src/components/ui/breadcrumb.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/components/ui/carousel.tsx
  apps/frontend/src/components/ui/checkbox.tsx
  apps/frontend/src/components/ui/dialog.tsx
  apps/frontend/src/components/ui/form.tsx
  apps/frontend/src/components/ui/input.tsx
  apps/frontend/src/components/ui/label.tsx
  apps/frontend/src/components/ui/radio-group.tsx
  apps/frontend/src/components/ui/select.tsx
  apps/frontend/src/components/ui/separator.tsx
  apps/frontend/src/components/ui/sheet.tsx
  apps/frontend/src/components/ui/skeleton.tsx
  apps/frontend/src/components/ui/sonner.tsx
  apps/frontend/src/components/ui/textarea.tsx
  apps/frontend/src/components/ui/tooltip.tsx
  apps/frontend/src/index.css
  apps/frontend/src/lib/utils.ts
  apps/frontend/src/main.tsx
  apps/frontend/src/views/products.tsx
  apps/frontend/tailwind.config.js
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm run format

feat: validate customer information and save to localStorage
  apps/frontend/.prettierrc.json
  apps/frontend/README.md
  apps/frontend/biome.json
  apps/frontend/components.json
  apps/frontend/eslint.config.js
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/src/components/form/purchase-details.tsx
  apps/frontend/src/components/purchase-product-dialog.tsx
  apps/frontend/src/components/ui/carousel.tsx
  apps/frontend/src/components/ui/checkbox.tsx
  apps/frontend/src/components/ui/dialog.tsx
  apps/frontend/src/components/ui/form.tsx
  apps/frontend/src/components/ui/input.tsx
  apps/frontend/src/components/ui/label.tsx
  apps/frontend/src/components/ui/radio-group.tsx
  apps/frontend/src/components/ui/select.tsx
  apps/frontend/src/components/ui/separator.tsx
  apps/frontend/src/components/ui/sheet.tsx
  apps/frontend/src/components/ui/skeleton.tsx
  apps/frontend/src/components/ui/sonner.tsx
  apps/frontend/src/components/ui/textarea.tsx
  apps/frontend/src/components/ui/tooltip.tsx
  apps/frontend/src/index.css
  apps/frontend/src/main.tsx
  apps/frontend/src/providers/index.tsx
  apps/frontend/src/providers/redux-provider.tsx
  apps/frontend/src/store/index.ts
  apps/frontend/src/store/slices/formSlice.ts
  apps/frontend/src/views/products.tsx
  apps/frontend/tailwind.config.js
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.node.json
  apps/frontend/vite.config.ts
  packages/shared/src/schemas/order.ts
  packages/shared/src/schemas/user.ts
  packages/shared/src/zod/index.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm run format

feat: transactions working
  .gitignore
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/application/services/order.service.ts
  apps/backend/src/application/services/user.service.ts
  apps/backend/src/domain/dto/order.dto.ts
  apps/backend/src/domain/entities/order.entity.ts
  apps/backend/src/domain/repositories/order.repository.ts
  apps/backend/src/domain/repositories/user.repository.ts
  apps/backend/src/infra/api/order/order.controller.ts
  apps/backend/src/infra/api/order/order.module.ts
  apps/backend/src/main.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm run format

build: add prisma type generation and pushing command
  apps/backend/package.json
Due: pnpm run format

feat: update all tables with corresponding info and hashing card
  .github/workflows/release.yaml
  apps/backend/.elasticbeanstalk/config.yml
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/application/services/delivery.service.ts
  apps/backend/src/application/services/fetcher.service.ts
  apps/backend/src/application/services/hashing.service.ts
  apps/backend/src/application/services/order.service.ts
  apps/backend/src/application/services/product.service.ts
  apps/backend/src/application/services/user.service.ts
  apps/backend/src/domain/dto/delivery.dto.ts
  apps/backend/src/domain/dto/hashing.dto.ts
  apps/backend/src/domain/dto/order.dto.ts
  apps/backend/src/domain/dto/product.dto.ts
  apps/backend/src/domain/dto/user.dto.ts
  apps/backend/src/domain/repositories/delivery.repository.ts
  apps/backend/src/domain/repositories/order.repository.ts
  apps/backend/src/domain/repositories/product.repository.ts
  apps/backend/src/domain/repositories/user.repository.ts
  apps/backend/src/infra/api/delivery.module.ts
  apps/backend/src/infra/api/fetcher.module.ts
  apps/backend/src/infra/api/hashing.module.ts
  apps/backend/src/infra/api/order/order.controller.ts
  apps/backend/src/infra/api/order/order.module.ts
  apps/backend/src/infra/api/product/product.controller.ts
  apps/backend/src/infra/api/product/product.module.ts
  apps/backend/src/infra/api/user/user.controller.ts
  apps/backend/src/types/acceptance-token.ts
  apps/backend/src/types/card-token.ts
  apps/backend/src/types/transaction.ts
  commitlint.config.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm run format

chore(frontend): base product showcase
  apps/frontend/src/types/index.ts
  apps/frontend/src/views/products.tsx
Due: pnpm run lint, pnpm run format

feat: base redux flow for selecting a product
  apps/backend/src/main.ts
  apps/frontend/package.json
  apps/frontend/src/api/index.ts
  apps/frontend/src/components/form/purchase-details.tsx
  apps/frontend/src/components/order-summary.tsx
  apps/frontend/src/components/order/billing-details.tsx
  apps/frontend/src/components/order/delivery-details.tsx
  apps/frontend/src/components/order/order-summary.tsx
  apps/frontend/src/components/order/order-total.tsx
  apps/frontend/src/components/purchase-product-dialog.tsx
  apps/frontend/src/components/ui/alert-dialog.tsx
  apps/frontend/src/schemas/order.ts
  apps/frontend/src/store/index.ts
  apps/frontend/src/store/slices/drawerSlice.ts
  apps/frontend/src/store/slices/formSlice.ts
  apps/frontend/src/store/slices/productSlice.ts
  apps/frontend/src/views/products.tsx
  pnpm-lock.yaml
Due: pnpm run lint, pnpm run format

feat: application working
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed/.snaplet/config.json
  apps/backend/prisma/seed/.snaplet/dataExamples.json
  apps/backend/prisma/seed/.snaplet/dataModel.json
  apps/backend/prisma/seed/seed.config.ts
  apps/backend/prisma/seed/seed.ts
  apps/backend/src/application/services/fetcher.service.ts
  apps/backend/src/application/services/order.service.ts
  apps/backend/src/domain/dto/order.dto.ts
  apps/backend/src/domain/entities/order.entity.ts
  apps/backend/src/infra/api/order/order.controller.ts
  apps/backend/src/infra/api/product/product.controller.ts
  apps/backend/src/infra/api/user/user.controller.ts
  apps/backend/src/infra/api/user/user.module.ts
  apps/backend/src/shared/index.ts
  apps/frontend/src/App.tsx
  apps/frontend/src/api/index.ts
  apps/frontend/src/components/order/order-details.tsx
  apps/frontend/src/components/order/order-summary.tsx
  apps/frontend/src/components/order/order-total.tsx
  apps/frontend/src/components/product-card.tsx
  apps/frontend/src/components/purchase-product-dialog.tsx
  apps/frontend/src/layout/index.tsx
  apps/frontend/src/main.tsx
  apps/frontend/src/store/index.ts
  apps/frontend/src/store/slices/productSlice.ts
  apps/frontend/src/store/slices/quantitySlice.ts
  apps/frontend/src/types/index.ts
  apps/frontend/src/views/orders.tsx
  apps/frontend/src/views/products.tsx
  apps/frontend/src/views/summary.tsx
  pnpm-lock.yaml
Due: pnpm run lint, pnpm run format

docs: provide base documentation
  README.md
  apps/backend/.env.example
  apps/backend/README.md
  apps/backend/data-model.png
  apps/frontend/.env.example
  apps/frontend/README.md
Due: pnpm run format

docs: backend api documentation with missing entities
  apps/backend/src/domain/entities/product.entity.ts
  apps/backend/src/infra/api/product/product.controller.ts
Due: pnpm run lint, pnpm run format

docs: seeding
  apps/backend/.snaplet/config.json
  apps/backend/.snaplet/dataExamples.json
  apps/backend/.snaplet/dataModel.json
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/prisma/seed/.snaplet/config.json
  apps/backend/prisma/seed/.snaplet/dataExamples.json
  apps/backend/prisma/seed/seed.ts
  apps/backend/seed.config.ts
  apps/backend/seed.ts
  apps/backend/src/infra/api/order/order.controller.ts
  apps/frontend/src/api/index.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm run format

fix: generate prisma types before testing
  .github/workflows/test.yaml
  apps/backend/package.json
Due: pnpm run format

build: add dockerfile
  apps/backend/.dockerignore
  apps/backend/Dockerfile
Due: none

ci: add testing workflow and release app to production
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: pnpm run format

test: begin with first unit tests
  .vscode/settings.json
  apps/backend/package.json
  apps/backend/src/infra/api/order/order.controller.ts
  apps/backend/src/main.ts
  apps/backend/src/test/order/order.controller.spec.ts
  apps/backend/src/test/order/order.service.spec.ts
  apps/backend/src/test/product/product.service.spec.ts
  apps/frontend/babel.config.cjs
  apps/frontend/jest.setup.ts
  apps/frontend/package.json
  apps/frontend/src/__mocks__/fileMock.js
  apps/frontend/src/components/product-card.tsx
  apps/frontend/src/components/purchase-product-dialog.tsx
  apps/frontend/src/test/orders.test.tsx
  apps/frontend/src/views/orders.tsx
  apps/frontend/src/views/products.tsx
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint, pnpm run format

test: backend tests
  apps/backend/package.json
  apps/backend/src/application/services/fetcher.service.ts
  apps/backend/src/infra/api/delivery.module.ts
  apps/backend/src/infra/api/fetcher.module.ts
  apps/backend/src/infra/api/hashing.module.ts
  apps/backend/src/infra/api/order/order.module.ts
  apps/backend/src/infra/api/product/product.module.ts
  apps/backend/src/infra/api/user/user.module.ts
  apps/backend/src/infra/database/database.module.ts
  apps/backend/src/test/database/database.module.spec.ts
  apps/backend/src/test/database/database.service.spec.ts
  apps/backend/src/test/delivery/delivery.service.spec.ts
  apps/backend/src/test/hasher/hashing.module.spec.ts
  apps/backend/src/test/hasher/hashing.service.spec.ts
  apps/backend/src/test/order/order.module.spec.ts
  apps/backend/src/test/product/product.controller.spec.ts
  apps/backend/src/test/product/product.module.spec.ts
  apps/backend/src/test/user/user.module.spec.ts
Due: pnpm run lint, pnpm run format

test: frontend min test
  .github/workflows/release.yaml
  .gitignore
  apps/backend/package.json
  apps/backend/src/infra/api/product/product.controller.ts
  apps/frontend/babel.config.cjs
  apps/frontend/jest.setup.ts
  apps/frontend/package.json
  apps/frontend/src/__mocks__/fileMock.js
  apps/frontend/src/__tests__/currency.test.ts
  apps/frontend/src/__tests__/utils.test.ts
  apps/frontend/src/test/orders.test.tsx
  apps/frontend/src/views/orders.tsx
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm run format

feat: add tests to frontend, fix backend tests and modify backend
  README.md
  apps/backend/.elasticbeanstalk/config.yml
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/src/application/services/order.service.ts
  apps/backend/src/infra/api/order/order.controller.ts
  apps/backend/src/main.ts
  apps/backend/src/test/order/order.controller.spec.ts
  apps/backend/src/test/order/order.service.spec.ts
  apps/frontend/README.md
  apps/frontend/package.json
  apps/frontend/src/__tests__/components/order/billing-details.test.tsx
  apps/frontend/src/__tests__/components/order/delivery-details.test.tsx
  apps/frontend/src/__tests__/layout/index.test.tsx
  apps/frontend/src/__tests__/lib/cn.test.ts
  apps/frontend/src/__tests__/lib/currency.test.ts
  apps/frontend/src/__tests__/store/slices/drawerSlice.test.ts
  apps/frontend/src/__tests__/store/slices/formSlice.test.ts
  apps/frontend/src/__tests__/store/slices/productSlice.test.ts
  apps/frontend/src/__tests__/store/slices/quantitySlice.test.ts
  apps/frontend/src/__tests__/utils.test.ts
  apps/frontend/src/__tests__/views/orders.test.tsx
  apps/frontend/src/__tests__/views/products.test.tsx
  apps/frontend/src/components/order/order-details.tsx
  apps/frontend/src/setupTests.ts
  apps/frontend/src/types/index.ts
  apps/frontend/vite.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint, pnpm run format

refactor: do not use backend resources to avoid failing frontend build
  apps/backend/package.json
  apps/backend/src/shared/index.ts
  apps/frontend/package.json
  apps/frontend/src/api/index.ts
  apps/frontend/src/components/form/purchase-details.tsx
  apps/frontend/src/store/slices/formSlice.ts
  apps/frontend/src/store/slices/productSlice.ts
  apps/frontend/src/types/index.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm run format

fix: remove | null
  apps/backend/README.md
  apps/frontend/src/components/purchase-product-dialog.tsx
  apps/frontend/src/types/index.ts
  apps/frontend/tsconfig.app.tsbuildinfo
Due: pnpm run lint, pnpm run format

Path conditions:
  pnpm run lint: any of: **/*.{ts,tsx,js,jsx}
  pnpm run format: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{json,yaml,md})
